<div class="services">
    <div class="services__wrapper">
        <div class="container">
            <div class="services__inner">
                <div class="services__textbox-main">
                    <h2 class="services__textbox-main__heading heading heading--size--l heading--dark">
                        Our Cleaning Services
                    </h2>
                    <p class="services__textbox-main__text text text--dark">
                        There are a number of features that make RandomText a little different from other Lorem Ipsum dummy text generators you may find <br /> around the web.
                    </p>
                </div>
                <div class="services__columnbox">
                    <div class="services__columnbox__column-1 services__columnbox__column">
                        <div class="services__columnbox__column__img__outer">
                            <img 
                                class="services__columnbox__column__img img" 
                                src="images/services-img-fig1.png" 
                                alt="Apartment cleaning" 
                            />
                        </div>
                        <div class="services__columnbox__column__textbox">
                            <h4 class="services__columnbox__column__textbox-heading heading heading--size heading--dark">
                                Apartment cleaning
                            </h4>
                            <p class="services__columnbox__column__textbox-p text text--dark">
                                Get a high quality support service with us, We have dedicated support team waiting  for your ticket.
                            </p>
                            <a href="" class="services__columnbox__column__textbox-button button button--outlined text text--dark">
                                button
                            </a>
                        </div>
                    </div>
                    <div class="services__columnbox__column-2 services__columnbox__column">
                        <div class="services__columnbox__column__img__outer">
                            <img 
                                class="services__columnbox__column__img img" 
                                src="images/services-img-fig2.png" 
                                alt="Comercial cleaning" 
                            />
                        </div>
                        <div class="services__columnbox__column__textbox">
                            <h4 class="services__columnbox__column__textbox-heading heading heading--size heading--dark">
                                Comercial cleaning
                            </h4>
                            <p class="services__columnbox__column-3 services__columnbox__column__textbox-p text text--dark">
                                We use the most excellent quality tools and equipment to get all the dust and dirt out of your premises.
                            </p>
                            <a  href="" class="services__columnbox__column__textbox-button button button--outlined text text--dark">
                                button
                            </a>
                        </div>
                    </div>
                    <div class="services__columnbox__column">
                        <div class="services__columnbox__column__img__outer">
                            <img 
                                class="services__columnbox__column__img img" 
                                src="images/services-img-fig3.png" 
                                alt="Window cleaning" 
                            />
                        </div>
                        <div class="services__columnbox__column__textbox">
                            <h4 class="services__columnbox__column__textbox-heading heading heading--size heading--dark">
                                Window cleaning
                            </h4>
                            <p class="services__columnbox__column__textbox-p text text--dark">
                                We use biodegradable products which do not harm the environment, pets or humans in any way.
                            </p>
                            <a class="services__columnbox__column__textbox-button button button--outlined text text--dark" href="">
                                button
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>