.advantages__inner {
    padding: 60px 0 80px 86px;
    max-width: 950px;
}

.advantages__main-textbox-heading {
    font-size: 24px;
}

.advantages__main-textbox-p {
    line-height: 30px;
    letter-spacing: -1px;
    padding: 16px 0 50px;
}

.advantages__grid-box {
    border-radius: 4px;
    width: 464px;

    &:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }  
}

.advantages__grid-box1 {
    background-color: #B4ECDE;
    padding: 95px 0;
}

.advantages__grid-box2 {
    background-color: #A0D8EB;
    padding: 50px 0 65px;
}

.advantages__grid-box3 {
    background-image: url(../../images/advantages-box3-bg.png);
    background-size: cover;
    padding: 50px 0 65px;
}

.advantages__grid-box4 {
    background-color: #F7DFE7;
    padding: 95px 0;
}

.advantages__grid-box__textbox {
    padding: 0 70px 0 50px;
}

.advantages__grid-box__textbox-heading {
    font-size: 24px;
}

.advantages__grid-box__textbox-p {
    padding: 40px 0 55px;
    line-height: 26px;
    letter-spacing: -1px;
}