<div class="advantages">
    <div class="advantages__wrapper">
        <div class="container">
            <div class="advantages__inner">
                <div class="advantages__textbox">
                    <h2 class="heading heading--size--l heading--dark">
                        Reasons to Choose Us
                    </h2>
                    <p class="advantages__text text text--dark">
                        Behind our commitment to excellence are few key attributes that define who we are and what makes us different<br /> from any other.
                    </p>
                </div>
                <div class="grid advantages__grid">
                    <div class="advantages__grid-box1 advantages__grid-box grid__box1">
                        <div class="advantages__grid-textbox">
                            <h3 class="heading heading--size heading--light heading--uppercase">
                                - Residential Cleaning
                            </h3>
                        </div>
                    </div>
                    <div class="advantages__grid-box2 advantages__grid-box grid__box2">
                        <div class="advantages__grid-textbox">
                            <h3 class="heading heading--size heading--light">
                                - Residential Cleaning
                            </h3>
                            <p class="advantages__grid-text text text--light">
                                What is portfolio template in the page attributes Default and full width templates are self-explanatory
                            </p>
                            <a class="advantages__arrow-link" href="">
                                <img class="img" src="./images/arrow-outlined.png" alt="Join us!" />
                            </a>
                        </div>
                    </div>
                    <div class="advantages__grid-box3 advantages__grid-box grid__box3">
                        <div class="advantages__grid-textbox">
                            <h3 class="heading heading--size heading--light">
                                - Residential Cleaning
                            </h3>
                            <p class="advantages__grid-text text text--light">
                                What is portfolio template in the page attributes Default and full width templates are self-explanatory
                            </p>
                            <a class="advantages__arrow-link" href="">
                                <img class="img" src="./images/arrow-outlined.png" alt="Join us!" />
                            </a>
                        </div>
                    </div>
                    <div class="advantages__grid-box4 advantages__grid-box grid__box4">
                        <div class="advantages__grid-textbox">
                            <h3 class="heading heading--size heading--light heading--uppercase">
                                - Residential Cleaning
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>