<div class="advantages">
    <div class="advantages__wrapper">
        <div class="container">
            <div class="advantages__inner">
                <div class="advantages__main-textbox">
                    <h2 class="advantages__main-textbox-heading heading heading--size--l heading--dark">
                        Reasons to Choose Us
                    </h2>
                    <p class="advantages__main-textbox-p text text--dark">
                        Behind our commitment to excellence are few key attributes that define who we are and what makes us different<br /> from any other.
                    </p>
                </div>
                <div class="advantages__grid grid">
                    <div class="advantages__grid-box-1 advantages__grid-box grid__box-1">
                        <div class="advantages__grid-box__textbox">
                            <h3 class="advantages__grid-box__textbox-heading heading heading--size heading--light heading--uppercase">
                                -&nbsp;Residential Cleaning
                            </h3>
                        </div>
                    </div>
                    <div class="advantages__grid-box-2 advantages__grid-box grid__box-2">
                        <div class="advantages__grid-box__textbox">
                            <h3 class="advantages__grid-box__textbox-heading heading heading--size heading--light">
                                -&nbsp;Awesome feature
                            </h3>
                            <p class="advantages__grid-box__textbox-p text text--light">
                                What is portfolio template in the page attributes Default and full width templates are self-explanatory
                            </p>
                            <div class="advantages__grid-box__textbox__img-link__outer">
                                <a class="advantages__grid-box__textbox__img-link" href="">
                                    <img 
                                        class="advantages__grid-box__textbox__img img" 
                                        src="images/arrow-outlined.png" 
                                        alt="Join us!"
                                     />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="advantages__grid-box-3 advantages__grid-box grid__box-3">
                        <div class="advantages__grid-box__textbox">
                            <h3 class="advantages__grid-box__textbox-heading heading heading--size heading--light">
                                - Awesome feature
                            </h3>
                            <p class="advantages__grid-box__textbox-p text text--light">
                                What is portfolio template in the page attributes Default and full width templates are self-explanatory
                            </p>
                            <div class="advantages__grid-box__textbox__img-link__outer">
                                <a class="advantages__grid-box__textbox__img-link" href="">
                                    <img 
                                        class="advantages__grid-box__textbox__img img" 
                                        src="images/arrow-outlined.png" 
                                        alt="Join us!"
                                     />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="advantages__grid-box-4 advantages__grid-box grid__box-4">
                        <div class="advantages__grid-box__textbox">
                            <h3 class="advantages__grid-box__textbox-heading heading heading--size heading--light heading--uppercase">
                                - Quality Cleaning Tools
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>