@import "src/styles/variables.scss";

.advantages__inner {
    padding: 60px 0 80px 86px;
    max-width: 950px;
    
    @media (max-width: $md-up) {
        padding: 40px 0;
        margin: 0 auto;
    }

    @media (max-width: 1100px) {
        padding: 40px 0;
        margin: 0 auto;
    }
}

.advantages__main-textbox-heading {
    font-size: 24px;
}

.advantages__main-textbox-p {
    line-height: 30px;
    padding: 16px 0 50px;
}

.advantages__grid-box {
    border-radius: 4px;
    width: 464px;

    &:hover {
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    }

    @media (max-width: $md-up) {
        width: auto;
    }
}

.advantages__grid-box-1 {
    background: #b4ecde;
    padding: 95px 0;
}

.advantages__grid-box-2 {
    background: #a0d8eb;
    padding: 50px 0 65px;
}

.advantages__grid-box-3 {
    background: url(images/advantages-box3-bg.png) no-repeat 0 0 /cover;
    padding: 50px 0 65px;
}

.advantages__grid-box-4 {
    background: #f7dfe7;
    padding: 95px 0;
}

.advantages__grid-box__textbox {
    padding: 0 70px 0 50px;
}

.advantages__grid-box__textbox-heading {
    font-size: 24px;
}

.advantages__grid-box__textbox-p {
    padding: 40px 0 55px;
    line-height: 26px;
}