@import "src/styles/variables.scss";

.heading {
    font-weight: 600;
    margin: 0;
    color: $txt-dark-color;

    &--size--l {
        font-size: $heading-size-l;
    }

    &--light {
        color: $txt-light-color;
    }

    &--uppercase {
        text-transform: uppercase;
    }
}

.text {
    font-size: $text-size;
    margin: 0;

    &--dark {
        color: $txt-dark-color;
    }

    &--light {
        color: $txt-light-color;
    }

    &--colored {
        background:$txt-colored-bgr;
        padding: 5px 20px;
        border-radius: 15px;
        display: inline-block;
        margin: 0;
    }
}

.button {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
    padding: 14px 55px;
    border-radius: 20px;

    &--solid {
        text-align: center;
        color: $btn-solid-text-color;
        background: $btn-solid-color;
    }
}

.menu {
    &--vertical {
        position: relative;
        display: inline-block;
        height: 310px;
        min-width: 26px;
    }

    &--verical__inner {
        display: flex;
        align-items: center;
        height: 26px;
        width: 310px;
        position: absolute;
        bottom: -26px;
        transform: rotate(-90deg);
        transform-origin: top left;
    }
}

.menu__list {
    overflow: hidden;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu__list-item__link {
    display: block;
    text-decoration: none;
    padding: 5px 7px;

    &:hover {
        color: $btn-solid-text-color;
        background: $btn-solid-color;
        border-radius: 13px;
        }
}