<div class="about">
    <div class="about__wrapper">
        <div class="container">
            <div class="about__inner">
                <div class="about__textbox">
                    <p class="about__textbox-colored text--colored">
                        Welcome to
                    </p>
                    <h2 class="about__textbox-heading heading heading--size heading--dark">
                        Professional cleaning service
                    </h2>
                    <p class="about__textbox-text text text--dark">
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero.
                    </p>
                    <div class="about__textbox__button__outer">
                        <a class="about__textbox__button button button--solid" href="">
                            button
                        </a>
                    </div>
                </div>
                <div class="about__images">
                    <div class="about__images__grid grid">
                        <div class="about__images__grid-box1 grid__box1">
                            <img 
                            class="about__images__grid-box1__img img" 
                            src="./images/prof-grid-box-1.png" 
                            alt="cleaning service"
                             />
                        </div>
                        <div class="about__images__grid-box2 grid__box2">
                            <img 
                            class="about__images__grid-box2__img img" 
                            src="./images/prof-grid-box-2.png" 
                            alt="cleaning service"
                             />
                        </div>
                        <div class="about__images__grid-box3 grid__box3">
                            <img 
                            class="about__images__grid-box3__img img" 
                            src="./images/prof-grid-box-3.png" 
                            alt="cleaning service"
                             />
                        </div>
                        <div class="about__images__grid-box4 grid__box4">
                            <img 
                            class="about__images__grid-box4__img img" 
                            src="./images/prof-grid-box-4.png" 
                            alt="cleaning service"
                             />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>