.about__inner {
    display: flex;
    align-items: center;
    padding: 0 0 90px;
}

.about__textbox {
    padding: 0 55px 0 0;
    max-width: 440px;
}

.about__textbox-heading {
    padding: 40px 0 30px;
    font-size: 36px;
}

.about__textbox-text {
    padding: 0 0 30px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: -1px;
}