<div class="first-screen">
        <div class="first-screen__wrapper">
            <div class="container">
                <div class="first-screen__inner">
                    <div class="first-screen__left-content">
                        <div class="menu menu--vertical">
                            <div class="menu__inner menu--verical__inner">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="" class="menu__link text text--dark">Facebook</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="" class="menu__link text text--dark">Twitter</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="" class="menu__link text text--dark">Dribbble</a>
                                    </li>
                                    <li class="menu__item">
                                        <a href="" class="menu__link text text--dark">Instagram</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="first-screen__textbox">
                            <div class="first-screen__textbox-wrapper">
                                <div class="first-screen__textbox">
                                    <h1 class="heading heading--size--l heading--dark">
                                        Professional cleaning<br />service
                                    </h1>
                                    <p class="first-screen__text text text--dark">
                                        Corporate social responsibility policymaker inclusion, resist; compassion mass incarceration correlation white paper
                                    </p>
                                    <a class="arrow-link" href="" alt="Joing us!">
                                        <img class="img" src="./images/arrow-blue.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="first-screen__right-content">
                        <div class="first-screen__img-wrapper">
                            <img src="./images/first-screen-img.png" alt="We are proffecionals">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
