@import "src/styles/variables.scss";

.first-screen__wrapper {

    @media (max-width: $md-up) {
        background: rgba(148, 214, 232, .5);
    }
}

.first-screen__inner {
    padding: 170px 0 170px;
    display: flex;
    position: relative;
    align-items: center;

    @media (max-width: $md-up) {
        padding: 30px 0 80px;
    }
}

.first-screen__content {
    display: flex;
    align-items: center;
    padding: 0 25px 0 0;
    z-index: 10;

    @media (max-width: $md-up) {
        margin: 0 auto;
    }
}

.first-screen__content__textbox-wrapper {
    max-width: 540px;
    display: flex;
    align-items: center;
    padding: 0 0 0 60px;

    @media (max-width: $sm-up) {
        padding: 0 0 0 10px;
    }
}

.first-screen__content__textbox-p {
    padding: 22px 0 28px;
    line-height: 30px;
    font-weight: 300;
}

.first-screen__imgbox {
    position: absolute;
    right: 0;

    @media (max-width: $md-up) {
        display: none;
    }
}