<div class="contact">
    <div class="contact__wrapper">
        <div class="container">
            <div class="contact__inner">
                <div class="contact__textbox">
                    <h2 class="heading heading--size heading--dark">
                        Get notified<br />about new amazing products
                    </h2>
                    <p class="text text--dark">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has been the industry's standard dummy text ever since. 
                    </p>
                </div>
                <form class="contact__form" action="">
                    <div class="contact__form-inner">
                        <input type="email" name="email" id="email" placeholder="E-mail">
                        <button class="contact__button" type="submit">
                            <img class="contact__button-img" src="./images/arrow-blue.png">
                        </button>
                    </div>
                </form>
                <div class="contact__menu">
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="" class="menu__link text">Home</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link text">Company</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link text">About</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>