<div class="contact">
    <div class="contact__wrapper">
        <div class="container">
            <div class="contact__inner">
                <div class="contact__main-textbox">
                    <h2 class="contact__main-textbox-heading heading heading--size heading--dark">
                        Get notified about new<br />amazing products
                    </h2>
                    <p class="contact__main-textbox-p text text--dark">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br /> It has been the industry's standard dummy text ever since. 
                    </p>
                </div>
                <div class="contact__form-menu_outer">
                    <div class="contact__form-outer">
                        <form class="contact__form" action="">
                            <div class="contact__form-inner">
                                <input class="contact__form__input" type="email" name="email" id="email" placeholder="E-mail">
                                <button class="contact__button" type="submit"></button>
                            </div>
                        </form>
                    </div>
                    <div class="contact__menu-outer">
                        <nav class="contact__menu menu">
                            <ul class="contact__menu-list menu__list">
                                <li class="menu__list-item">
                                    <a href="" class="menu__list-item__link text text--dark">
                                        Home
                                    </a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="" class="menu__list-item__link text text--dark">
                                        Company
                                    </a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="" class="menu__list-item__link text text--dark">
                                        About
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>