@import "src/styles/variables.scss";

.contact__wrapper {
    background: url(images/contact-bg.png) center bottom no-repeat;
    width: 100%;
    padding: 90px 0 60px;
}

.contact__main-textbox {
    text-align: center;
}

.contact__main-textbox-heading {
    font-size: 36px;
    line-height: 54px;
    padding: 0 0 50px;
}

.contact__main-textbox-p {
    line-height: 34px;
    padding: 0 0 50px;
}

.contact__form-menu_outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__form-outer {
    padding: 0 0 50px;
}

.contact__form-inner {
    display: flex;
    align-items: center;
    width: 370px;
    border-radius: 30px;
    min-height: 20px;
    background-color: #fff;
    padding: 10px 15px;

    @media (max-width: $md-up) {
        width: 230px;
    }
}

.contact__form__input {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 300px;
    vertical-align: middle;
    padding: 0 0 0 15px;

    @media (max-width: $md-up) {
        width: 160px;
    }
}

.contact__button {
    width: 40px;
    height: 41px;
    margin: 0;
    padding: 0;
    border: none;
    background: url(images/arrow-blue.png) no-repeat 100% 100%;
    cursor: pointer;
}