<header class="header" >
    <div class="header__wrapper">  
        <div class="container">
            <div class="header__inner">
                <div class="header__left-content">
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="" class="menu__link text text--dark">Home</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link text text--dark">Company</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link text text--dark">About</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu__link text text--dark">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__right-content">
                    <div class="header__phone">
                        <p class="header__phone-text text text--dark">+&nbsp;515&nbsp;243&nbsp;3273</p>
                    </div>
                    <a href="" class="button button--solid">button</a>
                </div>
            </div>
        </div>
    </div>
</header>