<header class="header" >
    <div class="header__wrapper">  
        <div class="container">
            <div class="header__inner">
                <div class="header__navigation">
                    <nav class="header__navigation__menu menu">
                        <ul class="menu__list">
                            <li class="header__navigation__menu__list-item menu__list-item">
                                <a href="" class="header__navigation__menu__list-item__link menu__list-item__link text text--dark">
                                    Home
                                </a>
                            </li>
                            <li class="header__navigation__menu__list-item menu__list-item">
                                <a href="" class="header__navigation__menu__list-item__link menu__list-item__link text text--dark">
                                    Company
                                </a>
                            </li>
                            <li class="header__navigation__menu__list-item menu__list-item">
                                <a href="" class="header__navigation__menu__list-item__link menu__list-item__link text text--dark">
                                    About
                                </a>
                            </li>
                            <li class="header__navigation__menu__list-item menu__list-item">
                                <a href="" class="header__navigation__menu__list-item__link menu__list-item__link text text--dark">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__phone">
                    <div class="header__phone__wrapper">
                        <p class="header__phone-number text text--dark">
                            +&nbsp;515&nbsp;243&nbsp;3273
                        </p>
                    </div>
                    <div class="header__phone__button__wrapper">
                        <a href="" class="header__phone__button button button--solid">
                            button
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>