.header__wrapper {
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 1;
}

.header__inner {
    display: flex;
    padding: 40px 0;
    width: 100%;
}

.header__navigation {
    align-self: center;
}

.header__phone {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header__phone-number {
    margin: 0 20px 0 0;
    font-size: 18px;
}