<div class="sale-plan">
    <div class="sale-plan__wrapper">
        <div class="container">
            <div class="sale-plan__inner">
                <div class="sale-plan__textbox">
                    <h2 class="sale-plan__textbox-heading heading heading--size heading--dark">
                        Choose you option
                    </h2>
                    <p class="sale-plan__textbox-p text text--dark">
                        There are a number of features that make RandomText a little different from other Lorem Ipsum dummy text generators you may find around the web.
                    </p>
                </div>
                <div class="sale-plan__columnbox">
                    <div class="sale-plan__columnbox__column-1 sale-plan__columnbox__column">
                        <h4 class="sale-plan__columnbox__column-1-heading sale-plan__columnbox__column-heading heading heading--size heading--dark">
                            Apartment cleaning
                        </h4>
                        <p class="sale-plan__columnbox__column-1-p sale-plan__columnbox__column-p text text--dark">
                            Get a high quality support service with us, We have waiting for your ticket.
                        </p>
                        <div class="sale-plan__columnbox__column__button-outer">
                            <a href="" class="sale-plan__columnbox__column__button button button--outlined text text--light">
                                button
                            </a>
                        </div>
                    </div>
                    <div class="sale-plan__columnbox__column-2 sale-plan__columnbox__column">
                        <h4 class="sale-plan__columnbox__column2-heading sale-plan__columnbox__column-heading heading heading--size heading--dark">
                            Comercial cleaning
                        </h4>
                        <p class="sale-plan__columnbox__column-2-p sale-plan__columnbox__column-p text text--dark">
                            Bielefeld is 100% responsive, each and every element are fully responsive.
                        </p>
                        <div class="sale-plan__columnbox__column__button-outer">
                            <a href="" class="sale-plan__columnbox__column__button button button--outlined text text--light">
                                button
                            </a>
                        </div>
                    </div>
                    <div class="sale-plan__columnbox__column-3 sale-plan__columnbox__column">
                        <h4 class="sale-plan__columnbox__column-3-heading sale-plan__columnbox__column-heading heading heading--size heading--dark">
                            Window cleaning
                        </h4>
                        <p class="sale-plan__columnbox__column-3-p sale-plan__columnbox__column-p text text--dark">
                            We're the team with always hear from your needs. So, Bielefeld will always be the first.
                        </p>
                        <div class="sale-plan__columnbox__column__button-outer">
                            <a href="" class="sale-plan__columnbox__column__button button button--outlined text text--light">
                                button
                            </a>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>