@import "src/styles/variables.scss";

.sale-plan__inner {
    padding: 0 0 50px;
}

.sale-plan__textbox {
    text-align: center;
    max-width: 740px;
    margin: 0 auto;
}

.sale-plan__textbox-heading {
    font-size: 36px;
}

.sale-plan__textbox-p {
    font-weight: 300;
    line-height: 30px;
    padding: 30px 0 40px;
}

.sale-plan__columnbox {
    display: flex;
    align-items: center;

    @media (max-width: $sm-up) {
        flex-direction: column;
    }
}

.sale-plan__columnbox__column {
    text-align: center;
    padding: 110px 45px 0;
    margin: 40px 0 41px;
    background-size: cover;
    background-position: center;
    width: calc( 100% / 3 );

    @media (max-width: $sm-up) {
        width: 100%;
    }

    &:hover {
        margin: 0;
    }
}

.sale-plan__columnbox__column1 {
    background-image: url(images/choose-plan-col-1.png);

    &:hover .sale-plan__columnbox__column__button {
        display: inline-block;
    }
}

.sale-plan__columnbox__column2 {
    background-image: url(images/choose-plan-col-2.png);
   
    &:hover .sale-plan__columnbox__column__button {
        display: inline-block;
    }
}

.sale-plan__columnbox__column3 {
    background-image: url(images/choose-plan-col-3.png);

    &:hover .sale-plan__columnbox__column__button {
        display: inline-block;
    }
}

.sale-plan__columnbox__column-heading {
    font-weight: 600;
    font-size: 26px;
    padding: 0 0 85px;
}

.sale-plan__columnbox__column-p {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    padding: 0 0 65px;
    margin: 0 auto;
}

.sale-plan__columnbox__column__button {
    display: none;
    margin: 0 0 40px;
    border: 1px solid #fff;

    &:hover {
        text-align: center;
        color: $btn-solid-text-color;
        background-color: $btn-solid-color;
        border: 1px solid $btn-solid-color;
    }

    @media (max-width: $sm-up) {
        display: inline-block;
    }
}