<footer class="footer">
    <div class="footer__wrapper">
        <div class="container">
            <div class="footer__inner">
                <div class="footer-bottom-content">
                    <div class="footer__logo">
                        <div class="footer__logo-wrapper">
                            <img
                                class="footer__logo-img img" 
                                src="/images/footer-chargewp-logo.png" 
                                alt="ChargeWP logo"
                            />
                        </div>
                    </div>
                    <div class="footer__links-rights">
                        <div class="footer__links-rights__socials">
                            <ul class="footer__links-rights__socials__list">
                                <li class="footer__links-rights__socials__list-item">
                                    <a class="footer__links-rights__socials__img-link" href="">
                                        <img 
                                            class="footer__links-rights__socials__img-link__img img" 
                                            src="/images/footer-social-telegram.png" 
                                            alt="our telegram group" 
                                        />
                                    </a>
                                </li>
                                <li class="footer__links-rights__socials-item">
                                    <a class="footer__links-rights__socials__img-link" href="">
                                        <img 
                                            class="footer__links-rights__socials__img-link__img img" 
                                            src="/images/footer-social-facebook.png" 
                                            alt="our facebook page" 
                                        />   
                                    </a>
                                </li>
                                <li class="footer__links-rights__socials-item">
                                    <a class="footer__links-rights__socials__img-link" href="">
                                        <img 
                                            class="footer__links-rights__socials__img-link__img img" 
                                            src="/images/footer-social-linkedin.png" 
                                            alt="our linkedin page" 
                                        />
                                    </a>
                                </li>
                                <li class="footer__links-rights__socials-item">
                                    <a class="footer__links-rights__socials__img-link" href="">
                                        <img 
                                            class="footer__links-rights__socials__img-link__img img" 
                                            src="/images/footer-social-instagram.png" 
                                            alt="our instagram profile" 
                                        />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p class="footer__links-rights__copyright">
                            &#169; 2019 Charge.wp
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>