<footer class="footer">
    <div class="footer__wrapper">
    <div class="container">
            <div class="footer__inner">
                <div class="footer__left-content">
                    <div class="footer__left-content-imgbox">
                        <img class="img" src="./images/footer-chargewp-logo.png" alt="" class="footer__chargewp-logo" />
                    </div>
                </div>
                <div class="footer__right-content">
                    <div class="footer__social">
                        <ul class="footer__social-list">
                            <li class="footer__social-item">
                                <a class="footer__social-imgbox" href="">
                                    <img class="img" src="./images/footer-social-telegram.png" alt="our telegram group" />
                                </a>
                            </li>
                            <li class="footer__social-item">
                                <a class="footer__social-imgbox" href="">
                                    <img class="img" src="./images/footer-social-facebook.png" alt="our facebook page" />   
                                </a>
                            </li>
                            <li class="footer__social-item">
                                <a class="footer__social-imgbox" href="">
                                    <img class="img" src="./images/footer-social-linkedin.png" alt="our linkedin page" />
                                </a>
                            </li>
                            <li class="footer__social-item">
                                <a class="footer__social-imgbox" href="">
                                    <img class="img" src="./images/footer-social-instagram.png" alt="our instagram profile" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <p class="footer__copyright">&#169; 2019 Charge.wp</p>
                </div>
            </div>
        </div>
    </div>
</footer>