.footer__wrapper {
    background: url(/images/bottom-bg.png) center bottom no-repeat;
    width: 100%;
    padding: 90px 0 0 0;
}

.footer__contact__main-textbox {
    text-align: center;
}

.footer__contact__main-textbox-heading {
    font-size: 36px;
    line-height: 54px;
    padding: 0 0 50px;
}

.footer__contact__main-textbox-p {
    line-height: 34px;
    padding: 0 0 50px;
}

.footer__contact__form-menu_outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contact__form-outer {
    padding: 0 0 50px;
}

.footer__contact__form-inner {
    display: flex;
    align-items: center;
    width: 370px;
    border-radius: 30px;
    min-height: 20px;
    background-color: #fff;
    padding: 10px 15px;
}

.footer__contact__form__input {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 300px;
    vertical-align: middle;
    padding: 0 0 0 15px;
}

.footer__contact__button {
    width: 40px;
    height: 41px;
    margin: 0;
    padding: 0;
    border: none;
    background: url(/images/arrow-blue.png) no-repeat 100% 100%;
    cursor: pointer;
}

.footer__contact__menu-outer {
    padding: 0 0 120px;
}

.footer-bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 50px;
}

.footer__links-rights {
    display: flex;
    align-items: center;
}

.footer__links-rights__socials__list {
    display: flex;
    overflow: hidden;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 215px;
    justify-content: space-between;
    padding: 0 50px 0 0;
}

.footer__links-rights__copyright{
    font-size: 12px;
}