.footer__wrapper {
    background: rgba(250, 236, 140,.5);
    padding: 0 0 50px;
}

.footer-bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__links-rights {
    display: flex;
    align-items: center;
}

.footer__links-rights__socials__list {
    display: flex;
    overflow: hidden;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 215px;
    justify-content: space-between;
    padding: 0 50px 0 0;
}

.footer__links-rights__copyright {
    font-size: 12px;
}