<div class="choose-plan">
    <div class="choose-plan__wrapper">
        <div class="container">
            <div class="choose-plan__inner">
                <div class="choose-plan__textbox">
                    <h2 class="heading heading--size heading--dark">
                        Choose you option
                    </h2>
                    <p class="text text--dark">
                        There are a number of features that make RandomText a little different from other Lorem Ipsum dummy text generators you may find around the web.
                    </p>
                </div>
                <div class="choose-plan__3-columns">
                    <div class="choose-plan__col1 choose-plan__col choose-plan__col_hover">
                        <h4 class="heading heading--size heading--dark">
                            Apartment cleaning
                        </h4>
                        <p class="text text--dark">
                            Get a high quality support service with us, We have dedicated support team waiting for your ticket.
                        </p>
                        <a href="" class="button button--outlined">button</a>
                    </div>
                    <div class="choose-plan__col2 choose-plan__col choose-plan__col--hover">
                        <h4 class="heading heading--size heading--dark">
                            Comercial cleaning
                        </h4>
                        <p class="text text--dark">
                            Bielefeld is 100% responsive, each and every element are fully responsive.
                        </p>
                        <a href="" class="button button--outlined">button</a>
                    </div>
                    <div class="choose-plan__col3 choose-plan__col choose-plan__col--hover">
                        <h4 class="heading heading--size heading--dark">
                            Window cleaning
                        </h4>
                        <p class="text text--dark">
                            We're the team with always hear from your needs. So, Bielefeld will always be the first.
                        </p>
                        <a href="" class="button button--outlined">button</a>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>