<div class="news">
    <div class="news__wrapper">
        <div class="container">
            <div class="news__inner">
                <div class="news__textbox">
                    <h2 class="heading heading--size--l heading--dark">
                        Cleaning Industry<br />News
                    </h2>
                    <p class="text text--dark">
                        We write about industry developments, training, health and safety, eco-friendly cleaning products, recycling practices and advice for working with professional cleaners.
                    </p>
                </div>
                <div class="news__left-content">
                    <div class="news__imgbox">
                        <img class="img" src="./images/news-left-content-img.png" alt="" class="news__img" />
                    </div>
                </div>
                <div class="news__right-content">
                    <div class="color-selection">
                        <p>14.04.2019</p>
                    </div>
                    <h3 class="heading heading--size heading--dark">
                        Apartment cleaning
                    </h3>
                    <p class="text text--dark">
                        Sed nec blandit nibh. Pellentesque commodo suscipit gravida. Sed sit amet ex sed mi dignissim elementum in ut quam. Vivamus laoreet non mauris eget mattis. Nam turpis orci, consectetur vel accumsan sed, condimentum at sapien. Nunc ut egestas neque, eu hendrerit lacus.
                    </p>
                    <a class="arrow-link" href="" alt="Joing us!">
                        <img class="img" src="./images/arrow-blue.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>