<div class="news">
    <div class="news__wrapper">
        <div class="container">
            <div class="news__inner">
                <div class="news__textbox-main">
                    <h2 class="news__textbox-main-heading heading heading--size--l heading--dark">
                        Cleaning Industry<br />News
                    </h2>
                    <p class="news__textbox-main-p text text--dark">
                        We write about industry developments, training, health and safety, eco-friendly cleaning products, recycling practices and advice for working with professional cleaners.
                    </p>
                </div>
                <div class="news__content">
                    <div class="news__content__imgbox">
                        <img class="news__content__imgbox__img img" src="images/news-left-content-img.png" alt="" class="news__img" />
                    </div>
                    <div class="news__content__textbox">
                        <p class="news__textbox-colored text--colored">
                            14.04.2019
                        </p>
                        <h3 class="news__content__textbox-heading heading heading--size heading--dark">
                            Apartment cleaning
                        </h3>
                        <p class="news__content__textbox-p text text--dark">
                            Sed nec blandit nibh. Pellentesque commodo suscipit gravida. Sed sit amet ex sed mi dignissim elementum in ut quam. Vivamus laoreet non mauris eget mattis. Nam turpis orci, consectetur vel accumsan sed, condimentum at sapien. Nunc ut egestas neque, eu hendrerit lacus.
                        </p>
                        <div class="news__content__textbox__img-link-outer">
                            <a class="news__content__textbox__img-link arrow-link" href="" alt="Joing us!">
                                <img 
                                    class="img" 
                                    src="images/arrow-blue.png" 
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>