@import "normalize";
@import "./variables.scss";
*{
    box-sizing: border-box;
}
body{
    font-family: Montserrat, Helvetica, sans-serif;
}
.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .main-bg{
        position: absolute;
        width: 100%;
        background: url(../images/main-bg.png) right top no-repeat;
    }
}
.content {
    flex: 1 0 auto;
    margin: 0;
}
.footer {
    flex: 0 0 auto;
}
.container {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    &:before, &:after {
    display: table;
    content: " ";              
    }
    @media (max-width: 449px){width:100%;}
    @media (min-width: 450px){width:420px;}
    @media (min-width: 650px){width:620px;}
    @media (min-width: 768px){width:750px;}
    @media (min-width: 992px){width:970px;}
    @media (min-width: 1200px){width:1140px;}
}

//Blocks
.heading {
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
    color:$txt-dark-color;
    &--size--l {
        font-size: $heading-size-l;
    }
    &--light {
        color: $txt-light-color;
    }
    &--uppercase {
        text-transform: uppercase;
    }
}
.text {
    font-size:$text-size;
    margin: 0;
    &--dark {
        color:$txt-dark-color;
    }
    &--light {
        color: $txt-light-color;
    }
}
.button {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 14px 55px;
    border-radius: 20px;
    &--solid {
        text-align: center;
        color:$btn-solid-text-color;
        background-color: $btn-solid-color;
    }
    &--outlined {
        border: 1px solid #DDDDDD;
        box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.5);
        color: $txt-dark-color;
    }
}
.menu {
    &--vertical {
        position: relative;
        display: inline-block;
        height: 310px;
        min-width: 26px;
    }
    &--verical__inner {
        display: flex;
        align-items: center;
        height: 26px;
        width: 310px;
        position: absolute;
        bottom: -26px;
        transform: rotate(-90deg);
        transform-origin: top left;
        }
    &__list {
        overflow: hidden;
        list-style: none;
        display:flex;
        padding: 0;
        margin: 0;
    }
    &__link {
        display: block;
        text-decoration: none;
        padding: 5px 7px;
        &:hover {
            color:$btn-solid-text-color;
            background-color: $btn-solid-color;
            border-radius: 13px;
            }
    }
}
.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    &__box1 {
        grid-row: 1/2;
    }
    &__box2 {
        grid-row: 1/3;
    }
    &__box3 {
        grid-row: 2/4;
    }
    &__box4 {
        grid-row: 3/4;
    }
}