@import "normalize";
*{
    box-sizing: border-box;
}
body{
    font-family: Montserrat, Helvetica, sans-serif;
}
.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.content {
    flex: 1 0 auto;
    margin: 0;
}
.footer {
    flex: 0 0 auto;
}
.container{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    &:before, &:after {
    display: table;
    content: " ";              
    }
    @media (max-width: 449px){width:100%;}
    @media (min-width: 450px){width:420px;}
    @media (min-width: 650px){width:620px;}
    @media (min-width: 768px){width:750px;}
    @media (min-width: 992px){width:970px;}
    @media (min-width: 1200px){width:1140px;}
}