@import "normalize";
@import "./variables.scss";
@import "./mixins.scss";
*{
    box-sizing: border-box;
}
body{
    font-family: Montserrat, Helvetica, sans-serif;
}
.main-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    .main-bg{
        position: absolute;
        width: 100%;
        background: url(../images/main-bg.png) right top no-repeat;
    }
}
.content {
    flex: 1 0 auto;
    margin: 0;
}
.footer {
    flex: 0 0 auto;
}
.heading{
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
    color:$txt-dark-color;
    &_size_l{
        font-size: $heading-size-l;
    }
}
.text{
    font-size:$text-size;
    margin: 0;
}
.text_dark{
    color:$txt-dark-color;
}
.container{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    &:before, &:after {
    display: table;
    content: " ";              
    }
    @media (max-width: 449px){width:100%;}
    @media (min-width: 450px){width:420px;}
    @media (min-width: 650px){width:620px;}
    @media (min-width: 768px){width:750px;}
    @media (min-width: 992px){width:970px;}
    @media (min-width: 1200px){width:1140px;}
}