.header{
    &__wrapper {
    margin: 0 auto;
    right: 0;
    left: 0;
    z-index: 1;
    }
    &__inner {
        display: flex;
        padding: 40px 0 40px 0;
        width: 100%;
    }
    &__left-content {
        align-self: center;
    }
    &__right-content {
        display: flex;
        margin-left:auto;
        align-items: center;
    }
    &__phone-text {
        margin: 0 20px 0 0;
        font-size: 1.2em;
        letter-spacing: -1px;
    }
}