@import "./variables.scss";
.services {
    &__inner {
        padding: 0 0 90px 0;
    }
    &__text {
        line-height: 30px;
        letter-spacing: -1px;
        padding: 30px 0;
    }
    &__3-column {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        margin: 0;
        &:hover .button--outlined {
            text-align: center;
            color:#ffffff;
            background-color: $btn-solid-color;
            box-shadow: none;
        }
    }
    &__col-textbox {
        text-align: center;
    }
    &__col-heading{
        font-size: 20px;
        padding: 40px 0 16px 0;
    }
    &__col-text{
        line-height: 26px;
        padding: 0 0 22px 0;
        letter-spacing: -1px;
    }
}