@import "./variables.scss";
.services {
    &__inner {
        padding: 0 0 90px 0;
    }
    &__text {
        line-height: 30px;
        letter-spacing: -1px;
        padding: 30px 0;
    }
    &__3-column {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        max-width: 366px;
        border-radius: 4px;
        border: 1px solid #E8E9ED;
        
        padding: 0 0 70px 0;
        &:hover .button--outlined {
            text-align: center;
            color:#ffffff;
            background-color: $btn-solid-color;
            box-shadow: none;
        }
    }
    &__col-textbox {
        text-align: center;
        padding: 0 20px;
    }
    &__col-heading {
        font-size: 20px;
        padding: 40px 0 16px 0;
    }
    &__col-text {
        font-size: 12px;
        line-height: 26px;
        font-weight: 300;
        padding: 0 0 22px 0;
        letter-spacing: -1px;
    }
}