<div class="professional">
    <div class="professional__wrapper">
        <div class="container">
            <div class="professional__inner">
                <div class="professional__left-content">
                    <p class="color-selection">
                        Welcome to
                    </p>
                    <h2 class="heading heading--size heading--dark">
                        Professional cleaning service
                    </h2>
                    <p class="text text--dark">
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero.
                    </p>
                    <a href="" class="button button--solid">button</a>
                </div>
                <div class="professional__right-content">
                    <div class="grid professional__grid">
                        <div class="professional__grid-box1 grid__box1">
                            <img class="img" src="./images/prof-grid-box-1.png" alt="cleaning service" />
                        </div>
                        <div class="professional__grid-box2 grid__box2">
                            <img class="img" src="./images/prof-grid-box-2.png" alt="cleaning service" />
                        </div>
                        <div class="professional__grid-box3 grid__box3">
                            <img class="img" src="./images/prof-grid-box-3.png" alt="cleaning service" />
                        </div>
                        <div class="professional__grid-box4 grid__box4">
                            <img class="img" src="./images/prof-grid-box-4.png" alt="cleaning service" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>